@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');
:root {
  --c-gray-900: #f3f1f1;
  --c-gray-800: #d0d5f1;
  --c-gray-700: #97b4f1;
  --c-gray-600: #afa6f9;
  --c-gray-500: #969593;
  --c-gray-400: #a6a6a6;
  --c-gray-300: #2c2c35;
  --c-gray-200: #131010;
  --c-gray-100: #000000;
  --c-green-500: #45ffbc;
  --c-olive-500: #e3ffa8;
  --c-white: var(--c-gray-100);
  --c-text-primary: var(--c-gray-100);
  --c-text-secondary: var(--c-gray-200);
  --c-text-tertiary: var(--c-gray-500);
}

.side_bar {
  height: 100%;
  width: 14%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0b986a;
  padding-left: 1%;
  padding-right: 1%;
  color:rgb(7, 7, 7);
}

.main {
  font-size: 15px; 
  padding: 0px 10px;
  padding-left: 16%;
  color:#363535;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0b986a;
  padding-left: 1%;
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  text-align: middle;
  text-align: justify;

}

h1 {
  color:#EDEFEB;
  font-family: 'Dosis', serif;
  text-align: center;
}
h2{
  text-align: center;
}

h3 {

  margin-block-start:0.3em;
  font-size: smaller;
  font-family: 'Dosis', sans-serif;
  text-align: justify;

}

h4 {
  margin-block-end:0.3em;
  font-size: smaller;
  font-family: 'Dosis', sans-serif;

}

h5{
  text-align: center;
}

h6{
  margin-block-end:0.3em;
  font-size: medium;
  align-self: center;
  font-family: 'Dosis', sans-serif;

}
.text{
  margin: 10px;
  padding: 25px;
  align-self: center;
  font-family: 'Dosis', sans-serif;

}

.row{
  display: flex;
}

/* CSS */
.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  font-family: 'Dosis', sans-serif;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  align-items: center;
  
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
  text-align: center;
  align-items: center;
}
/* Boxes */

.box {
  border-radius: 20px;
  background-color: #F9F9F8;
  margin: 10px;
  padding: 25px;
  box-shadow: 2px 2px 2px lightgrey;
  font-family: 'Dosis', sans-serif;
}

.box_comment {
  border-radius: 20px;
  background-color: #d4f5c29a;
  margin: 10px;
  padding: 10px;
  box-shadow: 2px 2px 2px lightgrey;
  font-size: small;
  text-align: center;
  font-family: system-ui;
}

.box_emissions{
  border-radius: 20px;
  background-color: #e9a8538e;    
  margin: 2px;
  box-shadow: 2px 2px 2px lightgrey;
  justify-content: center;
  width: 50%;
  text-align: center;
  font-family: 'Dosis', sans-serif;

}
.box_especial{
  border-radius: 20px;
  background-color: #F9F9F8;
  margin: 10px;
  padding: 25px;
  box-shadow: 2px 2px 2px lightgrey;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-left: 1%;
  font-family: 'Dosis', sans-serif;


};
/* Drop down */
#drop_map .VirtualizedSelectFocusedOption {
  background-color:#ebb36abf;
  font-family: 'Dosis', sans-serif;

}


#drop_continent .VirtualizedSelectFocusedOption {
  background-color:#ebb36abf;
  font-family: 'Dosis', sans-serif;
}

/* Radio buttons */
.radio {
  display:flex;
  justify-content: left;
  place-content:space-around;
  width: 88%;
  font-family: 'Dosis', sans-serif;

}

.radio input[type="radio"] {
  opacity: 0;
  position: absolute;
  font-family: 'Dosis', sans-serif;
}

.radio label {
  display: table-caption;
  background-color: #F9F9F8;
  padding: 15px 15px;
  font-size: 16px;
  border: 2px solid #e9a8538e;
  border-radius: 10px;
  width: 200%;
  text-align: center;
  font-family: 'Dosis', sans-serif;
}

.radio input[type="radio"]:checked + label {
  background-color: #e98b1044;              
  border: 2px solid #F9F9F8;
  font-family: 'Dosis', sans-serif;
}

.radio label:hover {
  background-color: #e1e2df;
  border: 2px solid #e1e2df;
  font-family: 'Dosis', sans-serif;
}
.label{
  font-family: 'Dosis', sans-serif;

}

/* Scrollbars */
*::-webkit-scrollbar {
  width: 12px;    
  font-family: 'Dosis', sans-serif;
           
}
*::-webkit-scrollbar-track {
  background: #EDEFEB;        
}
*::-webkit-scrollbar-thumb {
  background-color:#ebb36abf;    
  border-radius: 20px;      
  border: 3px solid #EDEFEB;  
}